<!-- lidar-->
<robot name="mrobot" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="lidar" params="name inertial_xyz joint_xyz joint_rpy">
      <link name="${name}_lidar">
          <inertial>
              <origin xyz="${inertial_xyz}" rpy="0 0 0" />
              <mass value="0.31659" />
              <inertia ixx="0.00022501" ixy="-7.9146E-11" ixz="-7.5617E-11"
                        iyy="0.000225" iyz="-5.4184E-19" izz="0.00031918" />
          </inertial>
          <visual>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                  <mesh filename="package://mrobot_description/meshes/${name}_lidar.STL" />
              </geometry>
              <material name="">
                  <color rgba="0.79216 0.81961 0.93333 1" />
              </material>
          </visual>
          <collision>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                  <mesh filename="package://mrobot_description/meshes/${name}_lidar.STL" />
              </geometry>
          </collision>
      </link>
      <joint name="base_to_${name}_lidar" type="fixed">
          <origin xyz="${joint_xyz}" rpy="${joint_rpy}" />
          <parent link="base_link" />
          <child link="${name}_lidar" />
          <axis xyz="0 0 0" />
      </joint>
  </xacro:macro>  
  
  <!-- create lidar -->
  <xacro:lidar name="front" inertial_xyz="9.7076E-09 0 0.024888" joint_xyz="0.2379 0 0.1802" joint_rpy="0 0 0"/>


  <gazebo reference="front_lidar">
    <sensor name="lidar" type="ray">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.000000</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120000</min>
          <max>3.5</max>
          <resolution>0.015000</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>front_lidar</frame_name>
      </plugin>
    </sensor>
  </gazebo>
</robot>
